STRAPI_URL=strapi_url

# SQUARE
SQUARE_APPLICATION_ID=application_id
SQUARE_LOCATION_ID=location_id
SQUARE_ACCESS_TOKEN=access_token

# PAYPAL
PAYPAL_CLIENT_ID=client_id

# SENDGRID
SENDGRID_API_KEY=api_key_here
SENDGRID_SENDER_MAIL=sender_email
SENDGRID_RECEIVER_MAIL=receiver_email
