.skeleton {
  @apply animate-pulse my-8 flex flex-col;
}

.skeleton__header {
  @apply w-full h-12 bg-gray-200;
}

.skeleton__wrapper {
  @apply flex gap-8;
}

.skeleton-card {
  @apply w-60 h-56 bg-gray-100 mt-8 flex flex-col items-center p-4;
}

.skeleton-card__first-line {
  @apply w-full h-32 bg-gray-200;
}

.skeleton-card__second-line {
  @apply w-full h-4 bg-gray-200 mt-4;
}

.skeleton-card__third-line {
  @apply w-12 h-4 bg-gray-200 mt-4 self-start;
}

/* Input */
.input {
  @apply w-full border border-gray-300 rounded-md p-4;
}

.input--error {
  @apply border-red-500;
}

.input-group {
  @apply py-3 pt-2 first:mb-4;
}

.input__error {
  @apply text-sm pt-3 text-red-500;
}

/* Button */
.btn {
  @apply w-full text-center inline-block text-sm border-transparent rounded-md bg-yellow-300 transition ease cursor-pointer hover:bg-yellow-500 active:bg-yellow-500;
}

/* HomeBanner */

.banner {
  @apply pt-8 mb-8;
}

.banner__wrapper {
  @apply flex flex-col flex-nowrap max-w-[1650px] mx-auto lg:flex-row;
}

.banner__left {
  @apply w-full min-h-full mb-4 lg:max-w-[calc(100%-390px)];
}

.banner__slider {
  @apply min-h-full relative;
}

.banner__slider-image {
  @apply block w-full h-80 bg-center bg-cover lg:(h-full min-h-xl);
}

.banner__right {
  @apply w-full flex justify-between gap-4 text-white lg:(max-w-[390px] ml-8 flex-col gap-8);
}

.landing {
  @apply pb-20;
}

.landing__wrapper {
  @apply max-w-[1650px] mx-auto px-[15px];
}

.landing__header {
  @apply flex flex-nowrap justify-between items-center px-5 py-4 bg-light-600 border-b-2 border-b-gray-300;
}

.landing__title {
  @apply mb-0 inline-block text-xl font-medium text-yellow-500;
}

.landing__content {
  @apply relative pt-6;
}

.landing__slide {
  @apply !w-[260px] !h-54;
}

.product {
  @apply box-border p-[20px_20px_0] relative block box-border border border-transparent max-w-[250px] transition ease hover:(border border-gray-300);
}

.product__thumbnail {
  @apply relative overflow-hidden;
}

.product__thumbnail:hover > ul {
  transform: translate(-50%, 0);
}

.product__container {
  @apply;
}

.product__content {
  @apply;
}

.product__price {
  @apply relative text-base text-dark-200;
}

.product-modal {
  @apply p-4 relative lg:p-6;
}

.product-modal__icon {
  @apply absolute top-3 right-4 cursor-pointer;
}

.product-actions {
  @apply absolute bottom-0 left-2/4 flex flex-nowrap justify-center items-center w-full py-[10px] bg-white transition duration-500 ease-in-out transform -translate-x-2/4 translate-y-100;
}

.product-actions__item {
  @apply mr-3;
}

.product-actions__link {
  @apply flex justify-center items-center w-9 h-9 rounded-full transition ease hover:(bg-yellow-500 text-white);
}

.product-quick-view {
  @apply mb-0 flex flex-col flex-wrap justify-center items-center lg:(flex-nowrap flex-row);
}

.thumbnail-quick-view {
  @apply max-w-full w-full flex flex-row-reverse flex-nowrap justify-center items-center mb-12 mt-12 lg:max-w-[43%];
}

.thumbnail-quick-view__figure {
  @apply relative block flex-basis-[100%] max-w-full m-0 lg:max-w-full;
}

.thumbnail-quick-view__content {
  @apply relative lg:pl-1;
}

.thumbnail-quick-view__slide {
  @apply flex justify-center items-center;
}

.info-quick-view {
  @apply max-w-full lg:(max-w-[57%] pl-8);
}

.info-quick-view__title {
  @apply mb-[10px] text-xl lg:text-2xl;
}

.info-quick-view__meta {
  @apply flex flex-nowrap items-center mb-5 pb-[6px] border-b-2 border-b-gray-200 text-sm lg:text-base;
}

.info-quick-view__text {
  @apply relative inline-block mb-0 mr-[10px] pr-[10px] leading-5;
}

.info-quick-view__link {
  @apply text-yellow-500 ml-2 text-capitalize;
}

.info-quick-view__price {
  @apply mb-5 text-xl text-dark-800 font-semibold lg:text-2xl;
}

.info-quick-view__divition {
  @apply mt-2 mb-4 border-b-2 border-b-gray-200;
}

.info-quick-view__shopping {
  @apply flex flex-col items-center mb-12 pb-8 border-b-2 border-b-gray-200 lg:(items-end flex-row flex-nowrap);
}

.info-quick-view__figure {
  @apply mb-4 lg:mb-0;
}

.info-quick-view__figcaption {
  @apply mb-1 text-center;
}

.info-quick-view__actions {
  @apply flex border border-gray-400 rounded-md p-2 w-full md:max-w-[7.1875rem];
}

.info-quick-view__actions-btn {
  @apply flex items-center justify-center pt-1 w-14 h-5 max-w-14 lg:(w-5 h-5 max-w-5);
}

.info-quick-view__actions-input {
  @apply w-14 text-center text-red-500 lg:w-[40px];
}

.info-quick-view__btn {
  @apply w-full font-bold p-4 rounded-sm flex items-center justify-center max-h-12 text-white bg-yellow-400 mx-7 mb-4 border rounded-md transition ease md:w-full lg:(text-sm mb-0) hover:bg-yellow-500;
}

.info-quick-view__btn-alt {
  @apply font-bold p-4 rounded-sm flex items-center justify-center max-h-12 w-full transition ease text-yellow-500 rounded-md border border-yellow-500 md:w-auto lg:(text-sm mr-7) hover:(text-white border-transparent bg-yellow-400);
}

.detail-description {
  @apply text-sm mb-5 border-b-2 border-b-light-200 lg:text-base;
}

.detail-description__item {
  @apply text-dark-200;
}

.quantity {
  @apply max-w-[6.25rem] flex items-center justify-between border border-gray-300;
}

.quantity__btn {
  @apply p-2;
}

.quantity__input {
  @apply h-9 w-6 text-center;
}

.total-quantity {
  @apply px-[10px] py-[20px] align-middle text-base w-[22.5rem] border-t-2 border-t-gray-200 md:text-center;
}
