/* Layouts */

/* Default */
.default {
  @apply flex relative;
}
.default__container {
  @apply flex flex-1 max-w-full transition animate-ease-[cubic-bezier(0.4,0,0.2,1)];
}

.default__wrapper {
  @apply flex-auto backface-hidden flex flex-col min-h-screen max-w-full relative;
}
.default__content {
  @apply flex-auto max-w-full relative;
}
.default__main {
  @apply lg:container lg:mx-auto;
}

.header {
  /* Header classes  */
}

.header__wrapper {
  @apply px-6 py-8 bg-yellow-200 border-b border-b-yellow-300;
}

.header__container {
  @apply flex items-center justify-between flex-nowrap lg:container lg:mx-auto gap-4 md:gap-0;
}

.header__brand {
  @apply flex items-center flex-basis-[35%] md:flex-basis-[auto];
}

.header__link {
  @apply cursor-pointer;
}

.header__content {
  @apply flex flex-col justify-center flex-basis-[55%] sm:max-w-60 md:(max-w-[23.125rem] flex-basis-[auto]) lg:max-w-80;
}

.header-actions {
  @apply flex items-center justify-between md:justify-end;
}

.header-actions__link {
  @apply flex relative transition ease;
}

.header-actions__link--mx {
  @apply mx-5;
}

.header-actions__icon {
  @apply text-4xl;
}

.header-actions__indicator-wrapper {
  @apply absolute bottom-2 -right-[6px] flex justify-center items-center w-[20px] h-[20px] text-white bg-dark-300 rounded-full;
}

.header-actions__indicator {
  @apply text-xs leading-4 font-medium not-italic;
}

.mini-cart {
  @apply absolute min-w-[300px] right-0 -left-[178px] z-30 pt-[10px] transition ease;
}

.mini-cart__body {
  @apply min-h-[150px] relative p-5 max-h-[300px] overflow-auto bg-white border border-white border-b-transparent;
}

.mini-cart__footer {
  @apply p-[10px_20px_20px] border-t-0 bg-white;
}
.mini-cart__footer-title {
  @apply block mb-5 text-lg font-semibold flex justify-between;
}

.mini-cart__amount {
  @apply text-red-600 font-bold;
}

.mini-cart__empty {
  @apply min-h-[50px] relative p-5 max-h-[300px] overflow-auto bg-white border border-white border-b-transparent;
}

.mini-cart__wrapper {
  @apply flex flex-nowrap justify-between items-center;
}

.mini-cart__left {
  @apply max-w-[50%] pr-1 flex basis-full;
}

.mini-cart__right {
  @apply max-w-[50%] pl-1 basis-full;
}

.btn {
  @apply w-full text-center p-[12px] font-semibold rounded-md bg-yellow-400 text-white transition ease hover:bg-yellow-500 disabled:(bg-yellow-200 pointer-events-none);
}

.btn--outline {
  @apply flex justify-center border !bg-transparent rounded-md border-yellow-400 text-yellow-500 hover:(!bg-yellow-500 !border-transparent !text-white);
}

.product-mini-cart {
  @apply mb-8 flex flex-nowrap h-16;
}

.product-mini-cart__image-wrapper {
  @apply max-w-14 w-full flex-auto;
}

.product-mini-cart__body {
  @apply relative pr-8 pl-5 flex-1;
}

.product-mini-cart__icon-wrapper {
  @apply absolute top-0 right-0;
}

.product-mini-cart__title {
  @apply m-0 block text-sm pb-1 pl-0 lg:max-h-[calc(1.2em*2)] overflow-hidden pr-4 text-yellow-500;
}

.user-area {
  @apply mx-5 flex flex-nowrap text-left cursor-pointer;
}

.user-area__icon-wrapper {
  @apply flex flex-nowrap items-center;
}

.user-area__links-group {
  @apply pl-[10px];
}

.user-area__link {
  @apply block font-bold text-sm;
}

.user-area__menu {
  @apply mx-5 relative cursor-pointer;
}

.user-area__menu-container {
  @apply absolute min-w-[240px] right-0 z-30 pt-[10px] opacity-100 bg-white px-4 py-2 rounded-sm transition ease opacity-100 lg:p-4;
}

.user-area__icon {
  @apply text-4xl;
}

.user-area__menu-list {
  @apply;
}

.user-area__menu-list-item {
  @apply mb-5;
}

.user-area__menu-link {
  @apply pl-0 text-dark-500 transition-colors ease hover:text-yellow-400;
}

.user-area__menu-logout {
  @apply pt-[10px] mb-0 border-t border-t-gray-200;
}

.navigation {
  @apply relative flex flex-wrap items-center justify-between px-4 py-2 bg-yellow-100;
}

.navigation__wrapper {
  @apply flex flex-col items-center justify-between w-full lg:container lg:mx-auto;
}

.navigation__content {
  @apply w-full text-center justify-center mt-4 flex-[1_0_100%] lg:(flex justify-start);
}

.menu {
  @apply flex flex-col mb-2 lg:flex-row;
}

.menu__item {
  @apply block py-[10px] pr-12 pl-0;
}

.footer {
  @apply pt-20;
}

.footer__wrapper {
  @apply mx-auto px-4 md:(px-8 max-w-full);
}

.widgets {
  @apply pb-7 mx-4 lg:container lg:mx-auto;
}

.widgets__wrapper {
  @apply max-w-full w-full relative pb-5 mb-5;
}

.widgets__title {
  @apply text-xl mb-[10px] font-bold text-yellow-400;
}

.widgets__list {
  @apply mt-7;
}

.widgets__item {
  @apply relative inline-block mr-[20px] align-top;
}

.widgets__link {
  @apply text-yellow-400 inline-block text-lg;
}

.copyright {
  @apply py-9 flex flex-wrap justify-between border-t border-t-light-200 text-center lg:(flex-row);
}

.copyright__site {
  @apply block w-full mb-0 leading-8 text-sm lg:w-auto;
}

.copyright__payment {
  @apply flex flex-col items-center w-full !mb-0 leading-8 text-sm lg:(flex-row w-auto);
}

.copyright__payment-title {
  @apply block pb-[10px] lg:(pb-0 pr-2);
}

.copyright__author {
  @apply flex items-center justify-center w-full mb-0 leading-8 text-sm lg:w-auto;
}

.copyright__author-text {
  @apply mr-2;
}

/* Access Layout */
.access {
  @apply bg-light-500 w-full min-h-screen overflow-hidden;
}

.access__wrapper {
  @apply w-full mt-12 md:(max-w-xl mx-auto);
}

.access__header {
  @apply p-6 flex justify-center;
}

.access__link {
  @apply cursor-pointer;
}

/* Access Layout */
.account {
  @apply flex relative;
}

.account__wrapper {
  @apply flex-auto backface-hidden flex flex-col min-h-screen max-w-full relative;
}

.account__main {
  @apply flex flex-[1_0_auto] max-w-full transition animate-ease-[cubic-bezier(0.4,0,0.2,1)];
}

.account__main-wrapper {
  @apply flex-auto max-w-full relative;
}

.account__section {
  @apply pt-12 min-h-screen;
}

.account__section-wrapper {
  @apply max-w-sm p-3 mx-auto flex sm:max-w-lg md:max-w-xl lg:max-w-7xl;
}

.account__section-container {
  @apply pt-12 min-h-screen;
}

.account__section-container {
  @apply flex flex-wrap flex-auto -m-3;
}

.account__aside {
  @apply flex-[1_1_100%] mb-8 lg:(flex-[0_0_33.333333%] mb-8);
}

.account__content {
  @apply flex-[0_0_100%] flex lg:flex-[0_0_66.666666%];
}
