.auth {
  @apply;
}

.auth__links {
  @apply p-4 flex justify-center;
}

.auth__link {
  @apply text-2xl font-bold text-dark-50 first:mr-8;
}

.auth__link--active {
  @apply text-yellow-500;
}

.auth__content {
  @apply mt-4;
}

.auth-form {
  @apply;
}

.auth-form__wrapper {
  @apply bg-white p-6 max-w-[26rem] mx-auto mb-4;
}

.auth-form__title {
  @apply text-base mb-4 text-yellow-500;
}

.auth-form__footer {
  @apply py-3 mb-4 mt-2;
}

.address {
  @apply flex flex-col gap-10 p-5 lg:(flex-row gap-5);
}

.address__content {
  @apply max-w-full flex-[0_0_100%] md:(max-w-[50%] flex-[0_0_50%]);
}

.address__figcaption {
  @apply mb-8 pb-3 text-xl font-semibold text-primary border-b-[1px] border-b-primary-alt;
}
.address__text {
  @apply mb-4 text-black text-sm;
}

.address__link {
  @apply text-base text-yellow-400 transition ease hover:text-yellow-500;
}

.checkout {
  @apply w-full py-[6.25rem] px-3 mx-auto md:max-w-4xl lg:max-w-6xl;
}

.checkout__header {
  @apply mb-12 text-center md:pb-[6.25rem];
}

.checkout__title {
  @apply text-2xl font-semibold text-yellow-400 md:text-5xl;
}

.checkout__content {
  @apply flex flex-col gap-8 md:flex-row;
}

.checkout__main {
  @apply flex-[0_0_100%] md:flex-[0_0_65%];
}

.checkout__aside {
  @apply flex-[0_0_100%] md:flex-[0_0_35%];
}

.information-form-title {
  @apply font-semibold mb-3 text-yellow-300 text-2xl;
}

.information-form {
  @apply;
}

.form__group {
  @apply mb-4 md:mb-10;
}

.form__group-alt {
  @apply mb-4 lg:mb-6;
}

.form__btn-group {
  @apply mb-0 md:(mb-10 w-[25%]);
}

.form__container {
  @apply flex flex-col justify-between md:flex-row;
}

.form__grid {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2;
}

.form__left {
  @apply flex-[0_0_100%] gap-4 md:flex-[0_0_calc(50%-1rem)];
}

.form__right {
  @apply flex-[0_0_100%] md:flex-[0_0_calc(50%-1rem)];
}

.form__label {
  @apply mb-6 text-dark-800;
}

.form__required {
  @apply ml-1 text-red-500;
}

.form__title {
  @apply font-semibold mb-8 text-yellow-300 text-2xl md:mb-3;
}

.order-summary__title {
  @apply font-semibold mb-3 text-yellow-400 text-2xl;
}

.order-summary__content {
  @apply px-5 py-8 mb-3 rounded-sm border border-light-600;
}

.order-summary__figure {
  @apply mb-6 pb-6 border-b-2 border-b-light-600;
}

.order-summary__figcaption {
  @apply flex justify-between font-normal;
}

.order-summary__strong-text {
  @apply text-sm text-dark-200 font-semibold uppercase;
}

.order-summary__link {
  @apply py-3 flex justify-between w-full;
}

.order-summary__price {
  @apply text-sm text-dark-100;
}

.edit-address {
  @apply w-full lg:ml-8;
}

.edit-address__wrapper {
  @apply w-full;
}

.edit-address__header {
  @apply mb-8 pb-3 border-b border-b-light-800;
}

.edit-address__title {
  @apply text-2xl font-semibold text-yellow-400;
}

.edit-address__content {
  @apply p-5;
}

.address-form {
  @apply;
}

.address-form__header {
  @apply mb-8 pb-3 border-b border-b-light-800;
}

.address-form__title {
  @apply text-2xl font-semibold text-yellow-400;
}

.address-form__group {
  @apply mb-10;
}

.address-form__label {
  @apply mb-6 text-dark-800;
}

.address-form__required {
  @apply ml-1 text-red-500;
}

.address-form__group-btn {
  @apply mb-10 md:w-[25%];
}

.block {
  @apply w-full py-[6.25rem] px-3 mx-auto md:max-w-2xl lg:max-w-6xl;
}

.block__header {
  @apply text-center pb-16 md:pb-[6.25rem];
}

.block__title {
  @apply text-3xl font-semibold text-yellow-400 md:text-5xl;
}

.block__content {
  @apply flex flex-col gap-8 lg:flex-row;
}

.block__left {
  @apply flex-[0_0_100%] md:flex-[0_0_65%];
}

.block__right {
  @apply flex-[0_0_100%] md:flex-[0_0_35%];
}

.block__subtitle {
  @apply text-lg text-yellow-400 mt-0 mb-6 font-bold md:mb-3;
}

.block__link-wrapper {
  @apply flex justify-between items-center;
}

.resume {
  @apply mb-8 px-5 py-3 border border-light-800 rounded-sm text-dark-200;
}

.resume__content {
  @apply mb-0 flex justify-between md:(items-center);
}

.resume__wrapper {
  @apply md:(w-full flex flex-row);
}

.resume__item-title {
  @apply flex-basis-[100%] text-sm max-w-40 md:(flex-0 max-w-18);
}

.resume__contact {
  @apply mt-0 mb-0 flex-basis-[100%] text-sm md:flex-1;
}

.resume__address {
  @apply mt-0 mb-0 flex-basis-[100%] text-sm;
}

.resume__link {
  @apply text-sm self-center text-yellow-400 max-w-40 text-right;
}

.payment-methods {
  @apply w-full;
}

.visa__terms-wrapper {
  @apply text-dark-200;
}

.visa__text {
  @apply text-sm mb-8;
}

.visa__link {
  @apply text-yellow-500;
}

.shopping-cart {
  @apply max-w-full;
}
.shopping-cart__wrapper {
  @apply mt-8 max-w-sm md:max-w-xl lg:(px-4 mt-0 max-w-full);
}
.shopping-cart__container {
  @apply w-full px-3 mx-auto lg:max-w-[1230px];
}
.shopping-cart__header {
  @apply pb-12 text-center lg:pb-[6.25rem];
}

.shopping-cart__title {
  @apply text-3xl font-semibold text-yellow-400 lg:text-5xl;
}

.shopping-cart__link-wrapper {
  @apply py-[1.875rem] flex flex-row flex-nowrap justify-between;
}

.shopping-cart__link {
  @apply inline-block px-[45px] py-[15px] text-base rounded-sm bg-yellow-400 transition ease hover:bg-yellow-500 active:bg-yellow-500 cursor-pointer;
}

.cart-table-container {
  @apply overflow-auto;
}

.cart-table {
  @apply w-full mb-4 text-dark-200;
}

.cart-table__thead {
  @apply align-bottom;
}

.cart-table__th {
  @apply px-5 py-4 uppercase text-dark-300 font-semibold bg-light-200 align-bottom;
}

.cart-table__td {
  @apply px-[10px] py-[20px] align-middle text-base w-[22.5rem] border-t-2 border-t-gray-200 md:text-center;
}

.cart-table__td-product {
  @apply min-w-52 px-[10px] py-[20px] align-middle text-base w-[22.5rem] border-t-2 border-t-gray-200 md:text-center lg:min-w-auto;
}

.cart-table__link {
  @apply text-2xl text-right;
}

.shopping-cart-table {
  @apply flex flex-nowrap flex-row items-center;
}

.shopping-cart-table__thumbnail {
  @apply w-full max-w-[6.25rem];
}

.shopping-cart-table__title {
  @apply text-left w-full pl-8;
}

.shopping-cart__footer {
  @apply grid lg:grid-cols-3;
}

.shopping-cart__left {
  @apply mb-8 lg:mb-0;
}

.shopping-cart__figcaption {
  @apply relative block text-xl text-dark-200 mb-9;
}

.shopping-cart__btn {
  @apply !bg-transparent border border-yellow-400 mt-4 text-yellow-500 hover:(!bg-yellow-400 text-white);
}

.shopping-cart__right {
}

.shopping-cart__right-wrapper {
  @apply mb-8 px-8 py-7 bg-light-100 border;
}

.shopping-cart__text-wrapper {
  @apply block mb-5 border-b border-light-700 text-dark-100;
}

.shopping-cart__text {
  @apply flex justify-between;
}

.shopping-cart__text {
  @apply flex justify-between;
}

.cart-product {
}

.cart-product__item {
  @apply border-b border-b-light-700 pb-5 mb-5;
}

.cart-product__wrapper {
  @apply block text-base;
}

.cart-product__total {
  @apply mb-0 text-2xl flex justify-between text-yellow-500;
}

.cart-product__amount {
  @apply font-semibold text-red-500;
}

.wishlist {
  @apply mt-8 max-w-sm sm:(max-w-lg mb-24) lg:(px-7 mt-0 max-w-full);
}

.wishlist__center {
  @apply w-full px-3 mx-auto;
}

.wishlist__header {
  @apply pb-12 text-left lg:pb-24;
}

.wishlist__title {
  @apply text-3xl font-semibold text-yellow-400 lg:text-5xl;
}

.wishlist__subtitle {
  @apply text-xl text-yellow-400 mb-2 font-bold lg:text-2xl;
}

.w-table-wrapper {
  @apply overflow-auto;
}

.w-table {
  @apply w-full border-collapse border-collapse mb-4 text-dark-300;
}

.w-table__thead {
  @apply align-bottom col-span-12;
}

.w-table__tr {
  @apply border-current border-solid border-0;
}

.w-table__th-name {
  @apply border-b-2 border-b-gray-100 border-t-2 border-t-gray-100 bg-white uppercase text-blach align-middle text-center font-semibold text-sm;
}

.w-table__th-price {
  @apply border-b-2 border-b-gray-100 border-t-2 border-t-gray-100 bg-white uppercase text-blach text-center py-3 font-semibold text-sm;
}

.w-table__th-action {
  @apply border-b-2 border-b-gray-100 border-t-2 border-t-gray-100 bg-white uppercase text-blach text-center font-semibold text-sm align-middle;
}

.w-table__td-product {
  @apply min-w-[200px] px-[10px] py-[30px] lg:(align-middle);
}

.w-table__td-price {
  @apply min-w-[200px] px-[10px] py-[30px] align-middle text-center lg:(w-32 min-w-44);
}

.w-table__td-action {
  @apply min-w-[300px] px-[10px] py-[30px] lg:(w-[25%] min-w-52);
}

.w-table__action-btn {
  @apply inline-block px-8 py-3 rounded-sm transition ease bg-yellow-400 text-sm text-white lg:px-6 active:bg-yellow-500 hover:bg-yellow-500;
}

.w-table__action-delete {
  @apply ml-4 text-red-700;
}

.invoices {
  @apply lg:ml-8 lg:w-full;
}

.invoices__header {
  @apply mb-[30px] pb-[10px] border-b-2 border-b-light-800 flex w-full;
}

.invoices__title {
  @apply text-2xl font-semibold text-yellow-400;
}

.invoices__content {
  @apply p-5;
}

.product {
}
.product__container {
}
.product__page-container {
}
.product__page-left {
}
.product__page-right {
}

.product-detail {
}
.product-detail--fullwidth {
}
.product-detail__header {
}

.product-info {
}
